$body-bg: rgb(24, 34, 14);
$body-color: rgb(235, 235, 235);
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: "Roboto", sans-serif;
$font-family-base: "Roboto", sans-serif;

$theme-colors: (
  "primary": #05c73f,
  "danger": #ff4136,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.btn {
  color: white;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

.list-group-item {
  background-color: rgb(248, 228, 237);
}

#shoppingList {
  max-width: 40rem;
  margin: 0 auto;
  & li {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 330px) {
  body {
    font-size: 80%;
  }
  .btn {
    font-size: 0.75rem;
  }
}
